---
layout: default
---

<article class="post">
  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        {{ page.date | date: '%Y년 %m월 %d일' }}
      </time>
      {{ page.author | prepend: ' • ' }}
    </p>
    <div class="post-tags">
      {% for tag in page.tags %}
        <span class="tag">{{ tag }}</span>
      {% endfor %}
    </div>
  </header>
  
  <div class="post-content">
    {{ content }}
  </div>
  
  <footer class="post-footer">
    <hr>
    <div class="comments-section">
      <h3>💬 댓글</h3>
      <script src="https://utteranc.es/client.js"
              repo="dkswndud1992/dkswndud1992.github.io"
              issue-term="pathname"
              label="comment"
              theme="github-dark"
              crossorigin="anonymous"
              async>
      </script>
    </div>
  </footer>
</article>
